/* BRAND COLORS */

$a4k-orange:   #fb8728;
$a4k-teal:     #16c6b7;
$a4k-yellow:   #ffc72f;

$trans-yellow: rgba(255,188,0,0.45);
$trans-orange: rgba(251,135,40,0.8);
$trans-teal:   rgba(22,198,183,0.75);

/* ACCENT COLORS */

$accent-lightOrange: #ffd9b9;
$accent-darkOrange:  #a95c1d;

/* GREYS */

$body-grey:        #5e6665;
$footer-grey:      #3a3f3e;
$footer-lightGrey: #454c4b;
$lightGrey:        #939897;
$borderGrey:       #C2C2C2;


$bg-beige:         #fffdf6;
$bg-beige-dark:    #fff7e2;
$bg-yellow:        #ffc72f; 