<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0"><!-- So that mobile webkit will display zoomed in -->
    <meta name="format-detection" content="telephone=no"><!-- disable auto telephone linking in iOS -->
    <title>Athletics 4 Kids</title>
    <style type="text/css">

        /* Resets:see reset.css for details */
        body{background-color:#ffffff;-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
        body{color:#333333;font-family:Arial,sans-serif;margin:0;padding:0;}
        table{border-spacing:0;border-collapse:collapse;border-spacing:0;}
        table td{border-collapse:collapse;}
      	a { color:#16c6b7; }
        p{margin-bottom:1em;}
        img{max-width:100%;}
    
        /* Constrain email width for small screens */
        @media screen and (max-width:600px) {
            table[class="container"] { width:100%!important; }
        }

        /* Give content more room on mobile */
        @media screen and (max-width:480px) {
          table[class="container"] { width:100%!important; }
            div[class="body-content"]img { width:100%; }
        }

        /* Styles for forcing columns to rows */
        @media only screen and (max-width:600px) {

            /* force container columns to (horizontal) blocks */
            table[class="container"] { width:100%!important; }
        }

    </style>
</head>
<body style="margin:0; padding:0;" bgcolor="#35BDB2" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<!-- 100% wrapper -->
<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#35BDB2">
  <tr>
    <td align="center" valign="top" bgcolor="#ffffff" style="background-color:#35BDB2;">

   <!-- ### 600PX CONTAINER ### -->
      <table width="600" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="width: 600px; max-width: 600px; background-color:#ffffff;margin-top:30px; border: 1px solid #E6E6E6; padding: 30px 50px" class="container">
        <tr>
          <td style="text-align: center; padding: 50px 0;">
            	<img src="http://d3n8a8pro7vhmx.cloudfront.net/themes/565ba1cff92ea13118000002/attachments/original/1448848739/a4k-logo-full.png?1448848739" width="300px;">
          </td>
        </tr>
        <tr>
          <td style="font-family:Arial,sans-serif;padding-left:15px;padding-right:15px;padding-top:10px;text-align:left;" class="body-content">
            {{ body }}
            
            
<table align="center" style="padding-top: 30px; width: 600px; max-width: 600px; text-align: center;" border="0">
<tbody>
<tr>
<td>
<p><strong>Our Annual Sponsors</strong></p>
</td>
</tr>
</tbody>
</table>
            <br/>
<table align="center" style="padding-top: 30px; width: 600px; max-width: 600px; text-align: center;" border="0">
<tbody>
<tr>
  <td style="text-align: center; width: 16.66667%;"><img src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/46/features/original/coastcapital.jpg?1448252900" border="0" alt="Coast Capital" width="100%" /></td>
<td style="text-align: center; width: 16.66667%;"><img src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/46/features/original/svp.jpg?1448252757" border="0" alt="SVP Vancouver" width="100%" /></td>
<td style="text-align: center; width: 16.66667%;"><img src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/28/attachments/original/OSLER.gif?1483069284" border="0" alt="Osler" width="60%" /></td>
  <td style="text-align: center; width: 16.66667%;"><img src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/46/features/original/singleton.jpg?1448836417" border="0" alt="Singleton Legal Counsel" width="100%" /></td>
<td style="text-align: center; width: 16.66667%;"><img src="http://d3n8a8pro7vhmx.cloudfront.net/themes/55160ae4ebad642f20000001/attachments/original/1455301913/central_okanagan_foundation_logo.jpg?1455301913" border="0" alt="cof" width="100%" /></td>
  <td style="text-align: center; width: 16.66667%;"><img src="https://d3n8a8pro7vhmx.cloudfront.net/themes/55160ae4ebad642f20000001/attachments/original/1457211707/Staub.png?1457211707" border="0" alt="staub electronics" width="100%" /></td>
  

  </tr>
<tr>
  <td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/48/attachments/original/Fire_Fighters.png?1491423004" border="0" alt="DNV" width="100%" /></td>
  <td style="text-align: center; width: 16.66667%;"><img align="none" src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/46/features/original/neptune.jpg?1448836482" border="0" alt="Neptune Terminals" width="100%" /></td>
<td style="text-align: center; width: 16.66667%;"><img align="none" src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/46/features/original/canucksalumni.jpg?1448836444" border="0" alt="Vancouver Canucks Alumni" hspace="0" vspace="0" width="100%" /></td>
    <td style="text-align: center; width: 16.66667%;"><img src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/22/attachments/original/rsz_11rsz_small_conv.jpg?1469486656" border="0" alt="City of North Van" width="50%" /></td>
  <td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/47/attachments/original/Twist_Performance_Small_Logo.png?1490810216" border="0" alt="Twist" width="70%" /></td>
   <td style="text-align: center; width: 16.66667%;"><img align="none" src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/46/features/original/cibc.jpg?1448836719" border="0" alt="CIBC" width="100%" /></td>
  </tr>
<tr>

  <td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/48/attachments/original/The_Keg_Steakhouse___Bar.jpg?1491431373" border="0" alt="The Keg" width="100%" /></td>
<td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/100/attachments/original/THE_DB_PERKS_GROUP.jpg?1506731211" border="0" alt="DB PERKS GROUP" width="55%" /></td>
    <td style="text-align: center; width: 16.66667%;"><img src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/46/features/original/hfc.jpg?1448252868" border="0" alt="Hockey Canada Foundation" hspace="0" vspace="0" width="100%" /></td>
  <td style="text-align: center; width: 16.66667%;"><img src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/46/features/original/canucksfund.jpg?1448252832" border="0" alt="Canucks for Kids Fund" width="100%" /></td>
<td style="text-align: center; width: 16.66667%;"><img src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/46/features/original/belmont.jpg?1448252803" border="0" alt="The Belmont Foundation" width="100%" /></td>
 <td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/22/attachments/original/rsz_1rsz_1image009website.jpg?1469733824" border="0" alt="District of North Vancouver" width="70%" /></td>  
<tr>
 </tr>
  <td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/42/attachments/original/rsz_griffin_business_centre_2016_logo_(2).jpg?1484765772" border="0" alt="GBC" width="70%" /></td> 
    <td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/100/attachments/original/HAMBER_FOUNDATION_LOGO.PNG?1506730979" border="0" alt="hamber foundation" width="70%" /></td> 
    <td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/100/attachments/original/west-vancouver-logo.png?1506731048" border="0" alt="west vancouver" width="70%" /></td> 
</tr>
</tbody>
</table>
<div style="text-align: center;"></div>
<br/>
<table align="center" style="padding-top: 30px; width: 600px; max-width: 600px; text-align: center;" border="0">
<tbody>
<tr>
<td>
<p><strong>Our A4K Vegas Night Gala Sponsors</strong></p>
</td>
</tr>
</tbody>
</table>
<table align="center" style="width: 622px; max-width: 600px; height: 121px;" border="0">
<tbody>
<tr>
<td style="text-align: center; width: 16.66667%;"><img align="none" src="https://d3n8a8pro7vhmx.cloudfront.net/themes/55160ae4ebad642f20000001/attachments/original/1457213087/Capture-Capilan.PNG?1457213087" border="0" alt="Capilano Kitchen and Bath" width="100%" /></td>
<td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/48/attachments/original/CapilanoAudi_Logo_H_2016_Transparent_Black.png?1492017468" border="0" alt="Audi Capilano" width="100%" /></td>
<td style="text-align: center; width: 16.66667%;"><img align="none" src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/62/features/original/gala-westview.jpg?1448839758" border="0" alt="Westview" width="100%" /></td>
<td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/48/attachments/original/CRS_logo_295.jpg?1491430675" border="0" alt="CRS" width="100%" /></td>
<td style="text-align: center; width: 16.66667%;"><img align="none" src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/62/features/original/gala-westjet.jpg?1448839735" border="0" alt="Westjet" width="100%" /></td>
</tr>
<tr>
  <td style="text-align: center; width: 16.66667%;"><img align="none" src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/62/features/original/gala-hollyburn.jpg?1448839535" border="0" alt="Hollyburn Country Club" width="100%" /></td>
<td style="text-align: center; width: 16.66667%;"><img align="none" src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/62/features/original/gala-northshorenews.jpg?1448839578" border="0" alt="North Shore News" width="100%" /></td>
<td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/18/attachments/original/Lonsdale_event_rentals_logo.jpg?1461087773" border="0" alt="Lonsdale Event Rentals" width="50%" /></td>            
 <td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/48/attachments/original/BMO.jpg?1491430853" border="0" alt="BMO" width="50%" /></td>  
<td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/48/attachments/original/capilano_suspension_bridge_park.png?1491430944" border="0" alt="Capilano Suspenion Bridge" width="50%" /></td>  
<td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/48/attachments/original/Paradigm_Sports.png?1491431619" border="0" alt="Paradigm Sports" width="50%" /></td>
  </tr>
<tr>
    
  
  <div style="text-align: center;"></div>
  
      </tbody>
</table>
<div style="text-align: center;"></div>
<br />
<table align="center" style="padding-top: 30px; width: 600px; max-width: 600px; text-align: center;" border="0">
<tbody>
<tr>
<td>
<p><strong>Our Golf Sponsors</strong></p>
</td>
</tr>
</tbody>
</table>
<table align="center" style="width: 622px; max-width: 600px; height: 121px;" border="0">
<tbody>
<tr>
<td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/19/attachments/original/Staub.png?1467045476" border="0" alt="Staub Electronics" width="55%" /></td>
    <td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/22/attachments/original/Alan_J._Lary_Inc._CPA_Print_Quality-01_JPEG_WHITEBACKGROUND_BUT_COLOURS_LOOK_LESS_VIBRANT.jpg?1468438160" border="0" alt="Alan J Lary" width="95%" /></td>
    <td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/19/attachments/original/CompuStar-(black).jpg?1467046034" border="0" alt="Compustar" width="75%" /></td>
<td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/19/attachments/original/ads.jpg?1467046322" border="0" alt="ADS" width="45%" /></td>
<td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/19/attachments/original/Snap_AV.jpg?1467046411" border="0" alt="Snap AVs" width="55%" /></td>
<td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/19/attachments/original/Sonos_Wordmark_Black.jpg?1467046754" border="0" alt="Sonos" width="45%" /></td>
<tr>
<td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/22/attachments/original/URC.gif?1468455352" border="0" alt="URC" width="45%" /></td>
<td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/22/attachments/original/Atlona-Logo-Line.jpg?1468453718" border="0" alt="Atlona" width="55%" /></td>
 <td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/19/attachments/original/Lutron-(black).jpg?1467051768" border="0" alt="Lutron" width="45%" /></td>
 <td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/19/attachments/original/Russound_Logo_Horizontal_Blue.jpg?1467047295" border="0" alt="Russound" width="55%" /></td>
 <td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/19/attachments/original/WiFi-HiFi-Logo.jpg?1467047060" border="0" alt="Wif Hifi" width="55%" /></td>
 <td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/19/attachments/original/ICE-Cables.jpg?1467046580" border="0" alt="Ice Cable Systems" width="35%" /></td>
<tr>                                         
<td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/19/attachments/original/Ledcor-group-CMYK.jpg?1467047393" border="0" alt="Ledcor" width="35%" /></td>
<td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/22/attachments/original/Vision33Logo.PNG?1468963576" border="0" alt="Vision33" width="35%" /></td>
<td style="text-align: center; width: 16.66667%;"><img align="none" src="http://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/mailings/22/attachments/original/Cleerline.jpg?1469734448" border="0" alt="Cleerline" width="65%" /></td>

</tr>
</tbody>
</table>
            
<table align="center" style="padding-top: 30px; width: 600px; max-width: 600px; text-align: center;" border="0">
<tbody>
<tr>
<td>
<p><strong>Our Charity Boxing Gala Sponsors</strong></p>
</td>
</tr>
</tbody>
</table>
<table align="center" style="width: 622px; max-width: 600px; height: 121px;" border="0">
<tbody>
<tr>
<td style="text-align: center; width: 16.66667%;"><img align="none" src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/171/features/original/rsz_1rsz_11rsz_1fantasy_6.png?1487271482" border="0" alt="Fantasy 6 Sports" width="55%" /></td>
    <td style="text-align: center; width: 16.66667%;"><img align="none" src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/171/features/original/rsz_horizon_capital_corp.png?1486068314" border="0" alt="Horizon Capital" width="95%" /></td>
    <td style="text-align: center; width: 16.66667%;"><img align="none" src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/171/features/original/rsz_vs_stack_icon-01.jpg?1486068334" border="0" alt="Victory Square" width="75%" /></td>
<td style="text-align: center; width: 16.66667%;"><img align="none" src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/171/features/original/rsz_1haraman_development.jpg?1486070364" border="0" alt="Haraman" width="45%" /></td>
<td style="text-align: center; width: 16.66667%;"><img align="none" src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/171/features/original/hard_rock_75x70.png?1486069266" border="0" alt="Hard Rock Casino" width="55%" /></td>
<td style="text-align: center; width: 16.66667%;"><img align="none" src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/171/features/original/90x90.jpg?1486070192" border="0" alt="Look To The Sky Films" width="45%" /></td>
  </tr>
  <tr>
<td style="text-align: center; width: 16.66667%;"><img align="none" src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/171/features/original/rsz_dailyhive-summer-black.png?1486068440" border="0" alt="Daily Hive" width="45%" /></td>
<td style="text-align: center; width: 16.66667%;"><img align="none" src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/171/features/original/75x75.jpg?1486068809" border="0" alt="" width="45%" /></td>
 <td style="text-align: center; width: 16.66667%;"><img align="none" src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/171/features/original/75x69.jpg?1486069176" border="0" alt="Revive" width="45%" /></td>
 <td style="text-align: center; width: 16.66667%;"><img align="none" src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/171/features/original/rsz_staub_electronics.png?1486070621" border="0" alt="Staub Electronics" width="55%" /></td>
 <td style="text-align: center; width: 16.66667%;"><img align="none" src="https://d3n8a8pro7vhmx.cloudfront.net/athletics4kids/pages/171/features/original/rsz_social_shopper.jpg?1486068501" border="0" alt="Social Shopper" width="55%" /></td>
  </tr>                                         

</tbody>
</table>
                        
            
<div style="text-align: center;"></div>
<br />
<table align="center" style="padding-top: 30px; width: 600px; max-width: 600px; text-align: center;" border="0">
<tbody>
</tbody>
</table>
<table align="center" style="width: 622px; max-width: 600px; height: 121px;" border="0">
<tbody>
<tr>           
  <td class="contact-us" style="font-family: Arial, sans-serif; padding-top: 80px; padding-bottom: 80px; ">
    <div style="text-align: center;">
<b><h1 style="font-size: 32px;">Questions?</h1></b>
<p style="font-size: 14px;">Contact A4K Executive Director, Sandy Hancock
<p style="font-size: 14px;">Tel: 604-221-PLAY (7529) Email: <a href="mailto:info@a4k.ca">info@a4k.ca</a></p>
      <p style="color:#79ECE3;font-size:11px;line-height:1; margin-top: 25px;">
            {{ settings.official_name }}{% if settings.has_address? %} &middot; {{ settings.address.one_line }} {% endif %} 
                <br/>This email was sent to <a style="color:#79ECE3;" href="{{ recipient.email }}">{{ recipient.email }}</a>.  To stop receiving emails, <a style="color:#79ECE3;" href="{{ settings.site.unsubscribe_url }}">click here</a>.
                {% if broadcaster.has_twitter? or broadcaster.has_facebook? %}
                <br/>You can also keep up with {{ broadcaster.name }}
                {% if broadcaster.has_twitter? and broadcaster.has_facebook_page? %}
                on <a style="color:#79ECE3;" href="{{ broadcaster.twitter_profile_url }}">Twitter</a> or <a style="color:#79ECE3;" href="{{ broadcaster.facebook_page_profile_url }}">Facebook</a>.
                {% elsif broadcaster.has_twitter? %}
                on <a style="color:#79ECE3;" href="{{ broadcaster.twitter_profile_url }}">Twitter</a>.
                {% elsif broadcaster.has_facebook_page? %}
                on <a style="color:#79ECE3;" href="{{ broadcaster.facebook_page_profile_url }}">Facebook</a>.
                {% endif %}
                {% endif %}
        </p>
       <p style="font-family:Arial,sans-serif;color:#79ECE3;font-size:11px;padding:0;line-height:1.5;text-align:center;">Created with <a href="http://nationbuilder.com" style="color:#79ECE3">NationBuilder</a>, software for leaders.</p>
   <!-- ### 600PX CONTAINER ###  -->
    </div>
    </td>
  </tr>
</table>
<!--/100% wrapper-->
</body>
</html>